header
  img(src='/static/img/logo.png')
  p An app to help you study
  if name
    section.namecard
      .namecard-hello
        p.namecard-greeting= `Welcome ${name}`
        form.namecard-exit(action='/goodbye', method='POST')
          button(type='submit')
            img(src='/static/img/close.svg')   
