extends layout

block content
  section#content
    form(action='/hello', method='POST')
      label What is your name?<br>
        input(name='username', type='text')
        <br>
        <br>
        input(type='submit', value='submit')
