doctype html
html(lang='en')
  block head
    title Flash Cards
    style
      include ../public/css/sandbox.css    

  block body
    include ./partials/header
  
  block content

  section#footer
    include ./partials/footer.pug
